<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.likelion.bebc25.linkup.member.mapper.MemberMapper">

    <!-- 이메일 기반 회원 정보 조회 -->
    <select id="findByEmail"
            resultType="net.likelion.bebc25.linkup.member.domain.Member">
        SELECT
        id,
        email,
        name,
        unique_id,
        profile_image,
        introduction,
        role,
        warning_count,
        writing_restricted_until,
        created_at,
        updated_at
        FROM member
        WHERE email = #{email}
    </select>

    <!-- 회원 id 기반 정보 조회 -->
    <select id="findById"
            resultType="net.likelion.bebc25.linkup.member.domain.Member">
        SELECT
        id,
        email,
        name,
        unique_id,
        profile_image,
        introduction,
        role,
        warning_count,
        writing_restricted_until,
        created_at,
        updated_at
        FROM member
        WHERE id = #{id}
    </select>

    <!-- 신규 회원 등록 -->
    <insert id="save"
            parameterType="net.likelion.bebc25.linkup.member.domain.Member"
            useGeneratedKeys="true"
            keyProperty="id">

        INSERT INTO member (
        email,
        name,
        unique_id,
        profile_image,
        introduction,
        role
        )
        VALUES (
        #{email},
        #{name},
        #{uniqueId},
        #{profileImage},
        #{introduction},
        #{role}
        )

    </insert>

    <!-- 작성한 게시글 수 조회 -->
    <select id="countPosts" resultType="int">
        SELECT COUNT(*)
        FROM post
        WHERE member_id = #{memberId}
    </select>

    <!-- 프로필 수정 -->
    <update id="updateProfile">
        UPDATE member
        SET
        name = #{name},
        introduction = #{introduction},
        updated_at = NOW()
        WHERE id = #{id}
    </update>

    <select id="findProfileById"
            resultType="net.likelion.bebc25.linkup.member.dto.MemberResponseDto">

        SELECT
        m.id,
        m.unique_id AS uniqueId,
        m.name,
        m.profile_image AS profileImage,
        m.introduction,

        (
        SELECT COUNT(*)
        FROM post p
        WHERE p.member_id = m.id
        ) AS postCount,

        CASE
        WHEN m.role = 'ROLE_CREATOR'
        THEN TRUE
        ELSE FALSE
        END AS creator,

        (
        SELECT s.price
        FROM subscription s
        WHERE s.creator_id = m.id
        AND s.status = 'ACTIVE'
        LIMIT 1
        ) AS subscriptionPrice

        FROM member m
        WHERE m.id = #{memberId}

    </select>

</mapper>