<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.likelion.bebc25.linkup.post.mapper.PostImageMapper">

    <!-- 게시글 이미지 등록 -->
    <insert id="insert" parameterType="PostImage" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO post_image ( post_id, image_url, image_order )
        VALUES ( #{postId}, #{imageUrl}, #{imageOrder} )
    </insert>

    <!-- 게시글 이미지 전체 조회 -->
    <select id="findAllByPostId" resultType="PostImage">
        SELECT id, post_id, image_url, image_order, created_at
        FROM post_image
        WHERE post_id = #{postId}
        ORDER BY image_order ASC
    </select>
</mapper>