<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.likelion.bebc25.linkup.post.mapper.PostMapper">

    <!-- 게시글 등록 -->
    <insert id="insert" parameterType="Post" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO post ( member_id, content, file_url, subscriber_only )
        VALUES ( #{memberId}, #{content}, #{fileUrl}, #{subscriberOnly} )
    </insert>

</mapper>