<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.likelion.bebc25.linkup.post.mapper.PostMapper">
    <!-- 게시글 등록 -->
    <insert id="insert" parameterType="Post" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO post ( member_id, content, file_url, subscriber_only )
        VALUES ( #{memberId}, #{content}, #{fileUrl}, #{subscriberOnly} )
    </insert>

    <!-- 게시글 상세 조회 -->
    <select id="findById" parameterType="long" resultType="Post">
        SELECT id, member_id, content, file_url, like_count, subscriber_only, created_at, updated_at
        FROM post
        WHERE id = #{postId}
    </select>

    <!-- 게시글 삭제 -->
    <delete id="deleteById" parameterType="long">
        DELETE FROM post
        WHERE id = #{postId}
    </delete>
</mapper>